#These file cause conflict! These folder will be ignored. 

/.vs
/MapleLeaf2/obj
/MapleLeaf2/bin
/MapleLeaf2/App_Data
/MapleLeaf2/test
/gitIgnoreTestFolder



MapleLeaf2/obj/Debug/MapleLeaf2.csproj.FileListAbsolute.txt
MapleLeaf2/obj/Debug/MapleLeaf2.csproj.CoreCompileInputs.cache
.vs/config/applicationhost.config
.vs/MapleLeaf2/v15/sqlite3/storage.ide
.vs/MapleLeaf2/v15/Server/sqlite3/storage.ide
.vs/MapleLeaf2/v15/.suo
MapleLeaf2/bin/MapleLeaf2.pdb
MapleLeaf2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MapleLeaf2/obj/Debug/MapleLeaf2.dll
MapleLeaf2/obj/Debug/MapleLeaf2.pdb
MapleLeaf2/obj/Debug/MapleLeaf2.csproj.FileListAbsolute.txt
MapleLeaf2/App_Data/aspnet-MapleLeaf2-20180224093718.mdf
MapleLeaf2/App_Data/aspnet-MapleLeaf2-20180224093718_log.ldf
