body {
    
}

/* Minah 03-04-2018 */
h2 {
    font-family: "Lucida Bright", serif;
    padding: 3%;
}

.left-container {
    column-count: 2;
    column-rule: 2px solid lightgray;
    column-gap: 20px;
    width: 95%;
    height: 500px;
    background-color: #f4f4f4;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.left-container p {
    font-family: "Hoefler Text", serif;
    font-size: 16px;
    line-height: 1.6em;
    padding: 3%;
}

.left-container .highlight {
    color: #d9852d;
    font-weight: bold;
}

.left-container img {
    padding-top: 10%;
    width: 95%;
}

.bottom-container {
    width: 95%;
    height: 260px;
    background-color: #f4f4f4;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    margin-top: 30px;
}

.bottom-container h2 {
    font-family: "Lucida Bright", serif;
    font-weight: bold;
}

.bottom-container p {
    font-family: "Lucida Bright", serif;
    font-size: 1.1em;
    padding: 1%;
    padding-left: 3%;
    margin-top: -4%;
}

.bottom-container .details {
    font-weight: bold;
    font-size: 1.2em;
    color: darkslategray;
}

.bottom-container .link {
    color: #333333;
}

.bottom-container .link:hover {
    color: #d9852d;
    text-decoration: none;
}